policy_module(kernel_module_first, 1.0)

type foo_t;
domain_type(foo_t)

allow foo_t self:capability { sys_admin net_admin lease };

domain_first_access(foo_t)
domain_second_access(foo_t)

kernel_read_system_state(foo_t)

foo_do_stuff(foo_t)
