selint
*.o
*.log
*.trs
*.gcda
*.gcno
parse.c
parse.h
lex.c
Makefile
Makefile.in
config.*
autoscan.log
autom4te.cache
configure
*.swp
aclocal.m4
tests/check_tree
tests/check_parse_functions
tests/check_parsing
tests/check_maps
tests/check_parse_fc
tests/check_template
tests/check_file_list
tests/check_fc_checks
tests/check_check_hooks
tests/check_selint_config
tests/check_if_checks
tests/check_string_list
tests/check_runner
tests/check_startup
tests/check_te_checks
tests/check_ordering
tests/check_perm_macro
tests/check_name_list
tests/functional/policies/parse_errors/test3_tmp.if
tests/functional/policies/parse_errors/test5_tmp.te
tests/functional/policies/parse_errors/test6_tmp.if
tests/test-suite.log
.deps
depcomp
compile
install-sh
missing
test-driver
ylwrap
stamp-h1
man/selint.1
vgcore.*
tests/vgcore.*
*.tar.gz
