policy_module(delcaring_template, 1.0.0)

declaring_template(foo, bar)

# this will not declare the types in the current module
# but there will be a S-004 issued
declaring_helper_if()

declaring_helper_temp()
