module uncommon 1.7;

# Use uncommon policy constructs to ensure the parser can handle them without breaking

require {
	type bar_t;
	role system_r, user_r;
}

type baz_t alias { old_baz_t older_baz_t };
type this_shouldnt_be_allowed_t alias other_name_t, attr_name;

permissive foo_t;

sid netmsg gen_context(system_u:object_r:netlabel_peer_t,mls_systemhigh)

portcon udp 7007 gen_context(system_u:object_r:afs_bos_port_t,s0)
portcon udp 7007 gen_context(system_u:object_r:afs_bos_port_t,s0:c2)
portcon udp 7007 gen_context(system_u:object_r:afs_bos_port_t,s0,s1:c0.c225)
portcon udp 7007-7008 gen_context(system_u:object_r:afs_bos_port_t,s0)
fs_use_trans devtmpfs gen_context(system_u:object_r:device_t,s0);
genfscon sysfs /devices/system/cpu/online gen_context(system_u:object_r:cpu_online_t,s0)
fs_use_xattr btrfs gen_context(system_u:object_r:fs_t,s0);
fs_use_task eventpollfs gen_context(system_u:object_r:fs_t,s0);

bool bool_one;

attribute_role rattr;

class file { read write open };

roleattribute system_r mount_roles;

optional_policy(`
;
')

optional_policy(`
	foo_read(bar_t)
',`
	# else
	foo_write(bar_t)
')

netifcon lo gen_context(system_u:object_r:lo_netif_t,s0 - mls_systemhigh) gen_context(system_u:object_r:unlabeled_t,s0 - mls_systemhigh)

nodecon ::5 ffff:ffff:ffff:ffff:ffff:ffff:ffff:ffff gen_context(system_u:object_r:system_t:s0)

if (!bool_one) {
	allow foo_t bar_t:file open;
}

# Interface with a missing comma
foo_if(foo_t, bar_t baz_t)

allow system_r user_r;

empty_interfaces_are_legal()

gen_require(
	type no_backticks_t;
	role no_backticks_r;
)

gen_tunable(`hello',world)
gen_tunable(hello,world)

define(yes, no)

typebounds foo_t bar_t;
