# This file contains stubbed interfaces for domains for use in test


#Stubbed domain_type
interface(`domain_type',`
	domain_other_interface_type($1)
')

# Other interface is called to check transform interface calculations
interface(`domain_other_interface_type',`
	gen_require(`
		attribute domain;
	')
	typeattribute $1 domain;
')

# Comment
interface(`domain_first_access',`
	gen_require(`
		type domain_foo_t;
	')
	read_files_pattern($1, domain_foo_t, domain_foo_t)
')

# Comment
interface(`domain_second_access',`
	gen_require(`
		type domain_bar_t;
	')
	read_files_pattern($1, domain_bar_t, domain_bar_t)
')
