# Fake interfaces for testing ordering

# Comment
interface(`kernel_read_system_state',`
	gen_require(`
		type system_state_t;
	')
	allow $1 system_state_t:file read_file_perms;
')
