policy_module(e10_warn, 1.0)

bare_word

bare word

ifdef(`foo',`
	# comment
	bare_word
')

ifelse(`bar', `true', `
    bare_word
',`$2', `true', `
    bare_word
')

ifelse(`bar', `true', `
    bare_word
',`$2', `true', `
    bare_word', `
    bare_word
')

# NOTE: a bare word inside define() body currently doesn't get flagged
define(`not_really_a_bare_word',`
	bare_word
')
