template(`foo1', `
	gen_require(`
		type foo_t;
	')

	allow $1 foo_t:file read;
')

template(`foo2', `
	gen_require(`
		type foo_t;
	')

	allow $1_t foo_t:file read;
')

template(`foo3', `
	type foo_t;
	allow $1 foo_t:file read;
')
