# Fake interfaces for test

# Do the things
interface(`xyz_do_stuff',`
	gen_require(`
		type stuff_t;
	')
	do_things_pattern($1, stuff_t, stuff_t)
')
