policy_module(dphysswapfile, 1.0.0)

########################################
#
# Declarations
#

type dphysswapfile_t;
type dphysswapfile_exec_t;
init_system_domain(dphysswapfile_t, dphysswapfile_exec_t)

type dphysswapfile_conf_t;
files_config_file(dphysswapfile_conf_t)

type dphysswapfile_swap_t;
files_type(dphysswapfile_swap_t)

########################################
#
# Policy
#

# sys_admin : for swapon
allow dphysswapfile_t self:capability sys_admin;
allow dphysswapfile_t self:fifo_file rw_fifo_file_perms;
allow dphysswapfile_t self:unix_stream_socket { create connect };

allow dphysswapfile_t dphysswapfile_conf_t:file read_file_perms;

allow dphysswapfile_t dphysswapfile_exec_t:file execute_no_trans;

allow dphysswapfile_t dphysswapfile_swap_t:file manage_file_perms;

kernel_read_system_state(dphysswapfile_t)

corecmd_exec_bin(dphysswapfile_t)
corecmd_exec_shell(dphysswapfile_t)

files_dontaudit_getattr_pid_dirs(dphysswapfile_t)
files_read_etc_files(dphysswapfile_t)
files_search_var(dphysswapfile_t)

fstools_exec(dphysswapfile_t)

miscfiles_read_localization(dphysswapfile_t)

userdom_dontaudit_search_user_home_dirs(dphysswapfile_t)
