policy_module(foo, 1.0)

optional_policy(`
	dontaudit backdoor_t ...;
	dontaudit backdoor_t ...;
	dontaudit backdoor_t ...;
	dontaudit backdoor_t ...;
	require {
		type backdoor_t;
	}
	dontaudit backdoor_t ...;
	dontaudit backdoor_t ...;
	dontaudit backdoor_t ...;
')

foo_read_log(bar_t)
...
optional_policy(`
	foo_read_log(bar_t)
')

allow foo_t
bar_t :
file write;
	
