interface(`foo_do_things',`
	gen_require(`
		type foo_conf_t;
	')

	allow $1 foo_conf_t:file read;
	read_files_pattern($1, bin_t, bin_t) #selint-disable:W-002
')
