# Currently, ifdefs are discarded by the parser so this works fine with W-002
# But if we ever save them and the gen_require becomes a child of the ifdef in
# the tree, then this will break.  W-002 assumes that the gen_require is at
# the top level.
interface(`test_nesting',`
	ifdef(`var',`
		gen_require(`
			type foo_log_t;
		')
	')
	append_files_pattern($1, foo_log_t, foo_data_t)
')
