# Needed for W-002 to function correctly
interface(`test_nesting',`
	ifdef(`var',`
		gen_require(`
			type foo_log_t;
		')
	')
	append_files_pattern($1, foo_log_t, foo_data_t)
')

interface(`test_nesting_other_way',`
	gen_require(`
		type foo_log_t;
		ifdef(`var',`
			attribute foo_log;
		')
	')
	append_files_pattern($1, foo_log, foo_log_t)
')
