# Fake interfaces for testing C-001

# Comment
interface(`logging_send_audit_msgs',`
	gen_require(`
		type audit_msgs_t;
	')
	fake_send_pattern($1, audit_msgs_t)
')

# Comment
interface(`logging_read_audit_log',`
	gen_require(`
		type audit_log_t;
	')
	read_files_pattern($1, audit_log_t, audit_log_t)
')

#Comment
interface(`logging_search_logs',`
	gen_require(`
		type log_t;
	')
	search_dirs_pattern($1, log_t, log_t)
')
